---
import "../styles/global.css";
const { title = "To-Do App" } = Astro.props;
---
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body class="min-h-screen bg-slate-100">
    <main class="mx-auto flex min-h-screen max-w-lg items-center px-4">
      <slot />
    </main>
  </body>
</html>
