---
const { title = "To-Do App" } = Astro.props;
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body class="bg-slate-100 text-slate-800">
    <main class="min-h-screen flex items-center justify-center">
      <slot />
    </main>
  </body>
</html>
